.media {
  display: flex;
  margin: 0;
  justify-content: center;
  width: 100%;
  position: relative;
  color: $sf-color;
  font-size: 0.8em;

  &::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    background: $background-gradient;
    z-index: -1;
    height: 350px;
    width: 100%;
  }
  i {
    margin: 15px 10px;
  }
  h1,
  p {
    padding: 0 2%;
  }
}

.media-comment-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media-comment-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.figure-center {
  img {
    height: 500px;
    width: auto;
  }
}
.media-content {
  display: flex;

  .icon {
    padding: 0;
  }
}
.pull-right {
  text-align: right;
}

@media (max-width: 486px) {
  .media-comment-left {
    display: none;
  }

  .media-comment-right {
    display: none;
  }
}
